/* the background image should use higher resolution and photoshop it to expand to whole page */

.bgUpperImage {
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .bgUpperImage {
    padding-left: 188px;
    z-index: -1;
  }
}

@media screen and (min-width: 1200px) {
  .bgUpperImage {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    border: solid 10px red;
    width: 100%;
    height: 100%;
  }
}
