.bgBottomImage {
  background-image: url("/bg-bottom.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 820px) {
  .bgBottomImage {
    background-position: -100px 0;
  }
}

@media screen and (max-width: 600px) {
  .bgBottomImage {
    background-position: -200px 0;
  }
}

@media screen and (max-width: 450px) {
  .bgBottomImage {
    background-position: -300px 0;
  }
}
